.class-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #0056b3;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffffe3;
  text-align: center;
  padding: 20px;
  height: 650px;
}

.class-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.class-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  border-bottom: 2px solid #0056b3;
}

.class-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.class-info {
  padding: 15px;
  text-align: center;
}

.class-info h5 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.class-info p {
  font-size: 1rem;
  color: #ffffff;
}

.class-action {
  margin-top: auto;
  text-align: center;
}

.class-action .btn {
  font-size: 0.9rem;
  padding: 8px 12px;
  border-radius: 0;
}

.activity-box {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}

.activity-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.activity-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.activity-box:hover .activity-image {
  transform: scale(1.05);
}

.activity-content {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #003f7f;
  margin-bottom: 10px;
}

.activity-content .btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.activity-content .btn-primary:hover {
  background-color: #003f7f;
  transform: scale(1.1);
}

h2.text-center {
  font-size: 2.4rem;
  color: #0056b3; /* Albastru solid */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

h2.text-center::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, #0056b3, #85c1e9); /* Gradient albastru */
  margin: 10px auto 0;
  border-radius: 2px;
  z-index: 10;
}