/* Stiluri pentru meniul de navigare */
.nav-pills .nav-link {
  color: #007bff;
  font-weight: bold;
  border: 1px solid #007bff;
  border-radius: 20px;
  margin: 0 5px;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

/* Stiluri pentru cardurile persoanelor */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  border: 3px solid #007bff;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text a {
  color: #007bff;
  text-decoration: none;
}

.card-text a:hover {
  text-decoration: underline;
}