


/* Forme opace pe toată secțiunea */
.background-shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 0;
}

.shape-blue {
    background-color: #3498db;
}

.shape-light-blue {
    background-color: #85c1e9;
}

.shape-1 {
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
}

.shape-2 {
    width: 500px;
    height: 500px;
    top: 200px;
    right: -150px;
}

.shape-3 {
    width: 300px;
    height: 300px;
    bottom: -100px;
    left: 50px;
}

/* Stiluri pentru secțiuni */
.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 20px;
}

.section-text {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
}

.text-container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

/* Stiluri pentru secțiunea de contact */
.contact-section {
    background-color: #f8f9fa; /* Fundal deschis */
    border-radius: 8px; /* Colțuri rotunjite */
    text-align: center;
}

.contact-section .section-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #002c58; /* Albastru închis */
    margin-bottom: 20px;
}

.contact-section .section-text {
    font-size: 1rem;
    color: #555; /* Gri deschis */
    margin-bottom: 30px;
}

.contact-box {
    background-color: #f8f9fa; /* Fundal deschis */
    border-radius: 8px; /* Colțuri rotunjite */
    text-align: center;
    position: relative; /* Asigură-te că poziționarea este relativă */
    z-index: 10; /* Aduce caseta în prim-plan */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adaugă o umbră pentru evidențiere */
    padding: 20px; /* Spațiere interioară */
    margin-top: 10%;
}

.contact-box .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #002c58; /* Albastru închis */
    z-index:10; /* Asigură-te că titlul este deasupra formelor */
    margin-bottom: 20px;
}

.contact-box .section-text {
    font-size: 1.5rem;
    color: #555; /* Gri deschis */
    margin-bottom: 20px;
}

.contact-list li {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

.contact-list li:hover {
    cursor: pointer; /* Schimbă cursorul pentru interactivitate */
    color:#940000;
}

.contact-list a {
    color: #0056b3; /* Albastru pentru link */
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline; /* Subliniere pentru linkuri la hover */
}