
/* Cadran central */
.developers-box {
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
}


.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 20px;
}

.section-text {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 30px;
}

.developers-subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0056b3;
  margin-top: 20px;
  margin-bottom: 10px;
}

.developers-list li {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
}

.developers-list li:hover {
  color: #0056b3;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Responsivitate */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .section-text {
    font-size: 1rem;
  }

  .developers-subtitle {
    font-size: 1.5rem;
  }

  .developers-list li {
    font-size: 1rem;
  }
}