.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00548F;
  text-align: center;
}

.card-text {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.btn-primary {
  background-color: #00548F;
  border-color: #003f7f;
  font-size: 0.85rem;
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  margin-top: auto;
  align-self: center;
}

.btn-primary:hover {
  background-color: #003f7f;
  border-color: #003f7f;
}

.btn-primary:focus {
  box-shadow: none;
}

.row.g-4 {
  gap: 30px;
}

.col-md-4 {
  flex: 0 0 23%;
  max-width: 23%;
}

@media (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 32%;
    max-width: 32%;
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media (max-width: 576px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.input-group {
  max-width: 1000px;
  margin: 0 auto 30px auto;
}

.input-group .form-control {
  border-radius: 20px 0 0 20px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 1rem;
}

.input-group .btn-primary {
  border-radius: 0 20px 20px 0;
  background-color: #0056b3;
  border: none;
  font-size: 1rem;
  padding: 7px 20px;
}

.input-group .btn-primary:hover {
  background-color: #003f7f;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  z-index: -1;
}

.blue-circle {
  width: 200px;
  height: 200px;
  background: #0056b3;
  top: 10px;
  left: -50px;
}

.red-circle {
  width: 300px;
  height: 300px;
  background: #940000;
  bottom: -200px;
  right: -100px;
}

.small-blue-circle {
  width: 100px;
  height: 100px;
  background: #0056b3;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.small-red-circle {
  width: 80px;
  height: 80px;
  background: #940000;
  top: 300px;
  left: 30%;
}

.small-center-circle {
  width: 120px;
  height: 120px;
  background: #0056b3;
  top: 400px;
  left: 60%;
}
