{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/activitatipagina.css') }}"
/>
{% endblock %} {% block content %}

<div class="title-box text-center py-5">
  <h1 class="title-text">{{title}}</h1>
  <p class="subtitle-text">Acțiunile unei generații implicate</p>
</div>

<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='images/' + activitate.imagine) }}"
            alt="{{ activitate.titlu }}"
            class="img-fluid rounded mb-5"
          />
          <img
            src="{{ url_for('static', filename='images/HUB/6-voluntariatcopiimici.jpg') }}"
            alt=""
            class="img-fluid rounded mb-5"
          />
          <img
            src="{{ url_for('static', filename='images/HUB/8-voluntariatolimpbio.jpg') }}"
            alt="Voluntariat Olimpiada Biologie"
            class="img-fluid rounded mb-5"
        />
        <div class="image-overlay">{{ activitate.titlu }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-4 bg-light rounded shadow-sm text-justify">
        <h2>Act4Change – Acțiunile unei generații implicate</h2>
        <p>
          Este spațiul în care echipa de voluntari a liceului își vor prezenta
          activitatea. Sunt elevi care cred în puterea ideilor, în forța
          culturii și în valoarea cunoașterii. Se implică pentru că știu că
          schimbarea începe cu fiecare dintre noi – și că, prin acțiuni
          concrete, putem construi o comunitate mai conștientă, mai vie, mai
          deschisă.
        </p>
        <p>
          Ca instituție, sprijinim inițiativele sociale, dar privim cu
          prioritate spre cultură și știință – două repere care modelează felul
          în care gândim, simțim și acționăm. Ne dorim ca elevii să înțeleagă că
          arta, lectura, spațiul amplu al culturii, dezbaterea de idei nu sunt
          doar pentru „olimpici” sau „artiști”, ci pentru oricine vrea să
          înțeleagă lumea și să se bucure de tot ce se dezvăluie sub ochii săi.
        </p>
        <p>
          Fiecare proiect, fiecare eveniment, fiecare moment de voluntariat e o
          invitație la implicare, reflecție și curaj. Putem crea o lume mai
          bună, doar dacă alegem să fim parte din proces!
        </p>
        <h3 style="color: #0056b3;">Voluntari la TEDx UMFST 2025 (22.02.2025)</h3>
        <p>
          Un eveniment ajunge să bucure oamenii, dacă totul este organizat
          perfect. Ne bucurăm, că la prima ediție a TEDx UMFST, elevii noștri
          au fost voluntarii evenimentului și au ajutat organizatorii să ofere
          publicului momente de impact.
        </p>
        <h3 style="color: #0056b3;">Voluntari la INTARO Elite Cup W75</h3>
        <p>
          Elevii Liceului UMFST în perioada 9-16 martie 2025 au fost voluntari la una dintre cele mai prestigioase competiții de tenis feminin indoor din România, parte a circuitului internațional ITF World Tennis Tour. Sala Polivalentă a Universității noastre a fost gazda INTARO Elite Cup W75 și a reunit jucătoare profesioniste de pe patru continente, oferindu-le un cadru competitiv de nivel înalt, într-un spațiu ultramodern, dedicat performanței și excelenței. Elevii au ajutat la derularea în condiții de excepție a întregului concurs. Dincolo de activități, a fost un pretext pentru a integra valorile comunității noastre universitare: excelență, caracter, respect, colaborare și deschidere internațională. De asemenea, a fost o lecție de disciplină și de ambiție.
        </p>
        <h3 style="color: #0056b3;">Ziua Internațională a cărții pentru cei mici (2 aprilie 2025)</h3>
        <p>
          Pentru că cei mici sunt cei care prind drag de povești cel mai repede, elevii s-au dus cu poveștile la ei pentru a-i bucura pe cei de la Gărdinița „Manpel”. Elevii liceului și-au petrecut ziua împreună cu niște copii dinamici, frumoși și zâmbăreți. Le-au citit povești, au desenat, au dansat și s-au jucat cu plastelina, într-un cuvânt s-au pus în papuci celor mici și gândit poveste pe mintea lor.
        </p>
        <h3 style="color: #0056b3;">Olimpiada Națională de Biologie (aprilie 2025)</h3>
        <p>
          Elevii UMFST au sprijinit organizarea activităților dedicate olimpiadei naționale de Biologie reușind să pună umărul la o experiență unică pentru colegii lor. Aceștia au condus grupurile de elevi din țară în turul universității, au participat cu elevii la activitățile din jurul probelor sau la workshopurile susținute de domnii profesori.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
