{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/activitatipagina.css') }}"
/>
{% endblock %} {% block content %}
<!-- Box de titlu -->
<div class="title-box text-center py-5">
  <h1 class="title-text">Banca din față</h1>
  <p class="subtitle-text">Podcastul liceului UMFST</p>
</div>

<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='images/activitati/' + activitate.imagine) }}"
          alt="{{ activitate.titlu }}"
          class="img-fluid rounded"
        />
        <div class="image-overlay">{{ activitate.titlu }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-4 bg-light rounded shadow-sm text-justify">
        <h2>Bine ați venit la Banca din față – podcastul liceului UMFST!</h2>
        <p>
          Aici, vocea elevilor capătă putere și prinde contur. Banca din față
          este spațiul în care ne așezăm metaforic, cu sinceritate și
          curiozitate, pentru a discuta despre tot ce ne preocupă: viața de zi
          cu zi în liceu, dinamica relațiilor dintre profesori și elevi,
          pasiunile noastre, provocările generației noastre și multe altele.
        </p>
      </div>
    </div>
  </div>

  <div class="episodes mt-5">
    <h3 class="episodes-title text-center mb-4">Episoade</h3>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 1: Dialog deschis între generații</h4>
      <p>
        Banca din față este spațiul în care ne așezăm cu sinceritate și
        curiozitate, pentru a discuta despre tot ce ne preocupă: viața de zi cu
        zi în liceu, dinamica relațiilor dintre profesori și elevi, pasiunile
        noastre, provocările generației noastre și multe altele.
      </p>
      <p>
        Primul invitat al podcastului „Banca din față” este prof. univ. dr.
        Leonard Azamfirei, rectorul UMFST G.E. Palade Târgu Mureș.
      </p>
      <a
        href="https://www.youtube.com/watch?v=9TzR5Hy07gY&t=29s&ab_channel=UMFSTLive"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 2: Despre cultura vieții</h4>
      <p>
        „Banca din față” este spațiul în care ne-am așezat și de această dată să
        discutăm despre bucuria de a avea credință și de a împărtăși celor de
        jur binele și frumosul. Invitatul ediției este preotul Ovidiu Bârsan,
        profesor de religie în cadrul Liceului UMFST „George Emil Palade”.
      </p>
      <p>
        Este un dialog despre nevoia de sens, de spiritualitate și de încrederea
        în „cultura vieții” atunci când, ca tânăr, începi să simți „valurile
        vieții”.
      </p>
      <a
        href="https://www.youtube.com/watch?v=3OK2JksITfE&ab_channel=UMFSTLive"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 3: Etapele devenirii liceului</h4>
      <p>
        La „Banca din față” suntem invitați să cunoaștem mai multe despre Liceul
        UMFST „George Emil Palade”, alături de directoarea acestei unități de
        învățământ, lect. univ. dr. Andreea-Romana Ban.
      </p>
      <p>
        Urmăriți o discuție despre etapele devenirii liceului și planurile de
        viitor, interviul încercând totodată să ne prezinte și imaginea
        autentică a unui dascăl, model pentru mulți tineri.
      </p>
      <a
        href="https://www.youtube.com/watch?v=kk74q2Zvb-I&ab_channel=UMFSTLive"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>
    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 4: Despre empatie și respect</h4>
      <p>
        În această ediție a emisiunii „Banca din față” o avem alături de noi pe Bianca Han, profesoară de limba engleză în cadrul Liceului UMFST „George Emil Palade”. Vă invităm să urmăriți o discuție despre bucuria de a învăța limba engleză și despre depășirea unei concepții limitative asupra comunicării, înțelegând, totodată, că studiul limbilor străine este un act de cultură care presupunere, receptivitate față de alteritatea culturală și empatie. 
      </p>
      <p>
        Viața de licean este privită prin ochii unei profesoare și devine o pledoarie pentru respectul față de Celălalt, precum și față de diversitatea lingvistică și culturală care ne înconjoară.

.
      </p>
      <a
        href="https://www.youtube.com/watch?v=jAKN483OmvI&list=PLIyZCjFxLOABmelXfTtzHhk_6PXZrkiD_&ab_channel=UMFSTLive"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 5 - Explorarea lumii și înțelegerea ei</h4>
      <p>
        În această ediție a podcastului „Banca din față", discutăm cu Crina Chirilă, cadru didactic în cadrul Liceului UMFST „George Emil Palade", despre devenirea unui profesor care, cu empatie și rigoare, caută să le explice elevilor dinamica lumii în care trăim. Cu pasiune și chibzuință, Crina Chirilă deschide mințile tinere către universul geografiei și ne invită la o reflecție asupra „firescului" actului de predare.
      </p>
      <a
        href="https://www.youtube.com/watch?v=kD-irGGmMEo"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 6 - Educația între „ieri" și „azi"</h4>
      <p>
        Ediția de podcast explorează modul în care se poate construi o legătură autentică și puternică între profesori și elevi. Lect. univ. dr. Kutasi Réka, profesoară de Limba engleză în cadrul Liceul UMFST „George Emil Palade", este un exemplu de empatie și altruism, iar lecțiile sale devin o pledoarie pentru naturalețea și sinceritatea relațiilor interumane.
      </p>
      <p>
        Discuția din podcast problematizează diferențele dintre educația de ieri și cea de azi, aducând în prim-plan schimbările și provocările actuale, văzute prin ochii elevilor și ai profesorilor.
      </p>
      <a
        href="https://www.youtube.com/watch?v=DFFVduggdJE&t=1s"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 7 - Despre trecut la timpul prezent</h4>
      <p>
        În episodul acesta discutăm despre trecut, adevăr istoric și modul în care evenimentele ne-au modelat prezentul. Conf. univ. dr. Georeta Fodor ne vorbește despre activitățile sale diverse în domeniul istoriei, pasiunea pentru perioada medievală și lecțiile valoroase ale perioadei interbelice. De asemenea, ne arată cum orele de istorie pot deveni mai mult decât simple lecții, ajutându-ne să ne dezvoltăm gândirea critică și să privim lumea din jur cu o perspectivă enciclopedică. Ascultă episodul și descoperă cum trecutul poate inspira prezentul!
      </p>
      <a
        href="https://www.youtube.com/watch?v=VmWbe5xsYR4&t=1s"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 8 – Școala privește spre viitor</h4>
      <p>
        Ediția podcastului „Banca din față" vorbește despre felul în care școala îi poate ajuta pe tineri să-și găsească drumul, să-și construiască visele și să transforme profesia într-o pasiune. Este o pledoarie pentru educație, firesc și evoluție, pentru curajul de a încerca și de a-ți depăși limitele. Sezonul al doilea aduce în prim-plan comunitatea formată în jurul liceului – elevi, profesori și părinți – pentru ca anii de școală să devină, pentru cei tineri, o experiență autentică de cunoaștere și împlinire.
      </p>
      <a
        href="https://www.youtube.com/watch?v=haXu1ntnPYM&t=1s"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 9 - Matematica ca pasiune</h4>
      <p>
        Un nou episod „Banca din față”, dedicat unui om care a transformat matematica într-o adevărată pasiune: Tamara Istrate, profesoara de matematică a elevilor din clasa a X-a, apreciată pentru calmul din timpul orelor, profesionalismul și gândirea matematică de care dă dovadă zi de zi.
      </p>
      <p>
        Episodul este dedicat performanței în matematică, discuțiilor despre evoluție în țară și dincolo de granițe, dar și elevilor, relației lor cu știința și cu profesorii care îi inspiră.
      </p>
      <a
        href="https://www.youtube.com/watch?v=1ru3e9ow4c8"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 10 - Empatia în școală</h4>
      <p>
        O nouă ediție a podcastului „Bancă din față”, în care vorbim despre felul
        în care relațiile bazate pe empatie, atât între elevi, cât și între elevi
        și profesori, se construiesc în timp, prin efort, implicare și
        conștientizare.
      </p>
      <p>
        În dialogul de astăzi, Daniela Lazăr, profesoară de limba engleză și
        diriginta clasei a IX-a B, ne oferă o perspectivă autentică asupra unui
        mod de a face educație cu empatie și eleganță.
      </p>
      <a
        href="https://youtu.be/YxUWZ5t0vjw?si=aDg_tiVuaL4CJhw7"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 11 - De la cercetare în sala de clasă</h4>
      <p>
        Un nou episod al podcastului „Banca din față”, alături de Mihai Babotă,
        profesor de chimie la Liceul UMFST. Vorbim despre cum le transmite elevilor
        importanța studiului științelor exacte, oferindu-le numeroase experimente de
        laborator și o perspectivă actuală asupra chimiei ca disciplină mereu
        inovatoare.
      </p>
      <a
        href="https://youtu.be/wPb1cbiy4sg?si=ufx0J3Ddk5vl1GcB"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 12 - Învățarea care transformă</h4>
      <p>
        Un nou episod „Banca din față”, alături de Briena Stoica – recunoscută în
        comunitatea noastră drept un profesionist care predă cu deschidere către tot
        ceea ce este nou în domeniul științelor educației.
      </p>
      <p>
        Crezul Brienei Stoica se centrează pe forța transformatoare a școlii și pe
        nevoia de a cultiva gândirea critică. Interviul de astăzi este o scurtă
        poveste despre un parcurs profesional construit pe credința în puterea
        modelatoare a cărții, în raportarea lucidă la fapte și în consecvența
        lucrului bine făcut.
      </p>
      <a
        href="https://youtu.be/_RhEqq3VcHc?si=y6wu2hCA0yjiUgO0"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>

    <div class="episode mb-4 p-4 bg-white rounded shadow-sm">
      <h4 class="episode-title">Episodul 13 - Despre performanță, pasiune și excelență</h4>
      <p>
        Performanța înseamnă talent, dar și un mediu care încurajează evoluția și
        excelența.
      </p>
      <p>
        În această ediție a podcastului „Banca din față”, îi avem invitați pe
        câțiva dintre elevii Liceului UMFST „George Emil Palade” care au participat
        la etapa națională a olimpiadelor de Limba și literatura română, Limba
        engleză, Biologie și Matematică.
      </p>
      <p>
        Discuția își propune să ofere o imagine asupra modului în care elevii
        liceului își pot dezvolta abilitățile, pasiunile și dorința de performanță,
        într-un mediu care susține excelența academică și evoluția personală.
      </p>
      <a
        href="https://youtu.be/zL9rNzRu9rU?si=Byqh4mkhcUqFsLnW"
        target="_blank"
        class="btn btn-primary episode-btn"
        >Urmărește episodul</a
      >
    </div>
  </div>
</div>
{% endblock %}
