/* Stiluri generale */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar styling */
  .navbar {
    margin-bottom: 20px;
  }
  .custom-nav {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  
  .navbar-brand img {
    height: 80px; /* Ajustează dimensiunea siglei */
    width: auto;
    display: flex;
    align-items: center;
  }

/* Stil pentru secțiunea Hero */
.hero-section {
  position: relative;
  flex: content;
  height: 300px;
  background: url("../static/images/UMFST-tg-mures-panoramica.png") no-repeat center center;
  background-size: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 139, 0.5); /* Albastru cu opacitate */
}

.hero-text {
  text-align: center;
  font-size: 2.5rem; /* Dimensiune mare pentru text */
  font-weight: bold; /* Text bold */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră pentru dreptunghi */
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}


