{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/activitati.css') }}"
/>
{% endblock %} {% block content %}
<div class="container my-5">
  <h2 class="text-center mb-5">
    Descoperiți oportunitățile unice pe care activitățile noastre le oferă!
  </h2>
  <div class="row g-4">
    {% for activitate in activitati %}
    <div class="col-lg-6 col-md-12">
      <div class="activity-box shadow-lg">
        <img
          src="{{ url_for('static', filename='images/' + activitate.imagine) }}"
          alt="{{ activitate.titlu }}"
          class="activity-image"
        />
        <div class="activity-content p-3">
          <h3 class="activity-title">{{ activitate.titlu }}</h3>
          <a href="{{ activitate.link }}" class="btn btn-primary btn-sm mt-3"
            >Detalii</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
