{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/developers.css') }}"
/>
{% endblock %} {% block content %}
<div class="color-section">
  <div class="container-fluid position-relative">
    <div class="container my-5">
      <div class="developers-box shadow p-4">
        <h2 class="section-title text-center">Echipa Site</h2>

        <div class="developers-list">
          <h3 class="developers-subtitle">HTML & CSS & Python</h3>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/sergiu.biriss" target="_blank"
                >Biriș Sergiu</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/pantea._tudor" target="_blank"
                >Pantea Tudor</a
              >
            </li>
            <li>Mitoșeriu David</li>
          </ul>
          <h3 class="developers-subtitle">Coordonator proiect</h3>
          <ul class="list-unstyled">
            <li>Bogdan Ratiu</li>
            <li>
              Email:
              <a href="mailto:bogdan.ratiu@umfst.ro">bogdan.ratiu@umfst.ro</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
