{% extends "layout.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/developers.css">
{% endblock %}


{% block content %}
<div class="container">
  <!-- Chenar HTML -->
  <div class="chenar">
    <h2>HTML & CSS</h2>
    <div class="casute">
      <div class="casuta">Biris Sergiu</div>
      <div class="casuta">Pantea Tudor</div>
      <div class="casuta">Mitoseriu David</div>
    </div>
  </div>

  <!-- Chenar Python -->
  <div class="chenar">
    <h2>Python</h2>
    <div class="casute">
      <div class="casuta">Biris Sergiu</div>
      <div class="casuta">Pantea Tudor</div>
      <div class="casuta">Mitoseriu David</div>
    </div>
  </div>
</div>
{% endblock %}