<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />

    <title>Liceul Umfst - {{subtitlu}}</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
      <div class="container">
        <a class="navbar-brand" href="/">Liceul UMFST</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/' %}active{% endif %}"
                href="/"
                >Acasă</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle {% if request.path.startswith('/corp-profesoral') %}active{% endif %}"
                href="#"
                id="corpProfesoralDropdown"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                Personal
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="corpProfesoralDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/personal-conducere"
                    >Personal de Conducere</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/corp-profesoral"
                    >Personal Didactic</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/personal-nedidactic"
                    >Personal Nedidactic</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/elevi' %}active{% endif %}"
                href="/elevi"
                >Elevi</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/echohub' %}active{% endif %}"
                href="/echohub"
                >EchoHub</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/podcast' %}active{% endif %}"
                href="/podcast"
                >Podcast</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/revista' %}active{% endif %}"
                href="/revista"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Hero Section outside the block -->
    {% if not no_hero %}
    <div class="hero-section">
      <!-- Left Logo -->
      <img
        src="{{ url_for('static', filename='images/liceuSigla.png') }}"
        alt="Liceu Sigla"
        class="hero-logo-left"
      />

      <!-- Hero Content -->
      <div class="hero-overlay"></div>
      <div class="hero-container">
        <h1 class="hero-title">{{ title }}</h1>
      </div>

      <!-- Right Logo -->
      <img
        src="{{ url_for('static', filename='images/UMFST.png') }}"
        alt="UMFST Logo"
        class="hero-logo-right"
      />
    </div>
    {% endif %}

    <!-- Content block -->

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer mt-5">
      <div class="container text-center py-4">
        <p class="mb-2">© 2025 Liceul UMFST. Toate drepturile rezervate.</p>
        <a href="/revista" class="footer-link">Contact</a> |
        <a href="/politica-confidentialitate" class="footer-link"
          >Politica de confidențialitate</a
        >
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      let lastScrollTop = 0;
      const navbar = document.querySelector(".custom-nav");

      window.addEventListener("scroll", function () {
        const scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          // Scroll în jos - ascunde navbar-ul
          navbar.style.top = "-400px"; // Ascunde navbar-ul (ajustează în funcție de înălțimea navbar-ului)
        } else {
          // Scroll în sus - arată navbar-ul
          navbar.style.top = "0";
        }

        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // Previne valori negative
      });
    </script>
    <script>
      // Funcție pentru a verifica dacă un element este vizibil în viewport cu un offset
      function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        const offset = 80; // Offset de 20px
        return (
          rect.top <=
            (window.innerHeight || document.documentElement.clientHeight) -
              offset && rect.bottom >= offset
        );
      }

      // Activează clasa "show" pentru elementele vizibile
      function handleScroll() {
        const fadeElements = document.querySelectorAll(".fade-in");
        fadeElements.forEach((el) => {
          if (isInViewport(el)) {
            el.classList.add("show");
          }
        });
      }

      // Ascultă evenimentul de scroll
      window.addEventListener("scroll", handleScroll);

      // Rulează funcția la încărcarea paginii
      document.addEventListener("DOMContentLoaded", handleScroll);
    </script>
  </body>
</html>