{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pagina_profesor.css') }}"
/>
{% endblock %} {% block content %}
<div id="margin"></div>
<div class="profesor-container mt-4">
  {% if profesor.citat %}
  <div class="profesor-quote">
    <p>"{{ profesor.citat }}"</p>
  </div>
  {% endif %}

  <div class="profesor-content">
    <div class="profesor-image-container">
      {% if profesor.imagine %}
      <img
        src="{{ url_for('static', filename='images/Poza-UMFST/profesori/' + profesor.imagine) }}"
        alt=""
        class="profesor-image"
      />
      {% else %}
      <p class="profesor-no-image">Imaginea nu este disponibilă.</p>
      {% endif %}
    </div>
    <div class="profesor-details">
      <h1 class="profesor-title">{{ profesor.nume }}</h1>
      <p class="profesor-materie">{{ profesor.materie }}</p>
      <p class="profesor-descriere">{{ profesor.descriere }}</p>
    </div>
  </div>
</div>
{% endblock %}
