{% extends "layout.html" %}
{% block content %}
<div class="container my-5">
  <h1 class="text-center">Performanțe</h1>
  <div class="mt-4">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Szász Roberta Veronica</strong>:
        <ul>
          <li>Olimpiada Națională de Biologie, Tg. Mureș, etapa județeană, premiul II</li>
          <li>Olimpiada Interdisciplinară „Culturalitate și spiritualitate românească“, Tg. Mureș, etapa județeană, premiul III</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>Cotoi Iulius</strong>:
        <ul>
          <li>Olimpiada Națională de Biologie, Tg. Mureș, etapa județeană, mențiune 1</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>Loghin Ioana Nicole</strong>:
        <ul>
          <li>Olimpiada Națională de Limba Engleză, Tg. Mureș, etapa județeană, premiul III</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>Pacă Raoul</strong>:
        <ul>
          <li>Olimpiada Națională de Informatică, Tg. Mureș, etapa județeană, premiul III</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>Muth Cristian</strong>:
        <ul>
          <li>Concursul Interjudețean Alexandru Papiu Ilarian - Premiul 2</li>
          <li>Concursul Interdisciplinar de Matematică și Fizică „Vranceanu-Procopiu“ - Mențiune la etapa națională, Bacău</li>
          <li>Concursul „Prin Labirintul Matematicii“, Baia Mare - Premiul 1, cu punctaj maxim</li>
          <li>Concursul „Matematica de drag“, Bistrița Năsăud - Mențiune</li>
          <li>Concursul „Marian Țarina“, Cluj Napoca - Premiul 3</li>
          <li>Concursul „Argument“, Baia Mare - Premiul 1</li>
          <li>Concursul Național de Matematică și Informatică „Grigore Moisil“, Cluj Napoca - Premiul 2</li>
          <li>Olimpiada Județeană de Matematică - Premiul 2 și calificare la națională (Botoșani)</li>
          <li>Olimpiada Județeană de Fizică - Premiul 1 și calificare la etapa națională (Slobozia)</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>Nagy Eliz</strong>:
        <ul>
          <li>Convocare Lotul Național U16, perioada 22 Decembrie - 19 Ianuarie, participare la Turul 1 de calificare pentru Turneul final al Campionatului European - Bulgaria, Sofia</li>
          <li>Campionat Național volei U19, Loc 1, Etapa semifinală - Timișoara</li>
          <li>Calificare turneu final U19 Campionat Național ediția 2024/2025 (cele mai bune 6 echipe din țară)</li>
          <li>Calificare turneu final Cupa României U19 ediția 2024/2025 (cele mai bune 8 echipe)</li>
          <li>Convocare Lotul Național U16, perioada 2 Aprilie - 28 Aprilie, participare la Turul 2 de calificare pentru Turneul final al Campionatului European - Slovenia, Maribor</li>
          <li>Calificare turneu final de promovare Divizia A1 (Liga I senioare) ediția 2024/2025</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}